* {
    font-family: 'Poppins';
    box-sizing: border-box;
}

body {
    overflow: hidden;
    width: auto;
    height: 100%;
}

.container {
    display: flex;
    padding: 5%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.firstheader {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#upperheader {
    font-size: 35px;
    font-weight: 200;
    margin: 0;
}

#lowerheader {
    font-size: 35px;
    font-weight: 600;
    margin: 0;
}

.annotation {
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
    left: 15%;
}

.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    width: 80%;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}

.description {
    width: 80%;
    font-size: 15px;
    font-weight: 200;
}

div.supervisor {
    display: flex;
    flex-direction: column;
    padding: 30px;
    grid-area: 3 / 1 / 7 / 3;
    border-top: solid hsl(180, 62%, 55%) 5px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #e6e6e6;
}

.teambuilder {
    grid-area: 1 / 3 / 5 / 5;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-top: solid hsl(0, 78%, 62%) 5px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #e6e6e6;
}

.karma {
    grid-area: 5 / 3 / 9 / 5;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-top: solid hsl(34, 97%, 64%) 5px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #e6e6e6;
}

.calculator {
    grid-area: 3 / 5 / 7 / 7;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-top: solid hsl(212, 86%, 64%) 5px;
    border-radius: 5px;
    box-shadow: 0px 10px 40px #e6e6e6;
}

.image {
    width: 10%;
    height: 10%;
    margin-left: 75%;
}